<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="" href="/">
          <img src="{{url_for('static', filename='assets/square-logo128x128.png')}}" alt="Volatrade" height="50px" width="50px">
      </a>
    </div>
    <div id="nav-menu" class="navbar-menu">
        <div class="navbar-start">
            <a href="/" class="navbar-item">
                Home
            </a>
             <a href="/papertrade" class="navbar-item">
                Paper Trader
            </a>
            <a href="/backtest" class="navbar-item">
                Backtester
            </a>
        </div>
    </div>
</nav>