##server
SERVER_HOST=0.0.0.0
SERVER_PORT=8081
SERVER_LISTEN_LIMIT=10
SERVER_KEEP_ALIVE_TIME=10
SERVER_READ_TIMEOUT=10
SERVER_WRITE_TIMEOUT=10
SERVER_SHUTDOWN_TIME=10


STRATEGIES_HOST=localhost
STRATEGIES_PORT=9000

##k-stats
STATS_HOST=
STATS_PORT=134

##environment
ENV=INTEG

##concurrency 
COMMUNICATOR_COUNT=2