html {
    background-color: #1e191a;
}

.navbar {
    background-color: #1e191a;
}

#nav-menu .navbar-item:hover {
    background-color: #1e191a;
}

#nav-menu a:hover {
    opacity: 0.7;
}

.tradingview {
    padding-top: 100px !important;
}

.form-wrapper {
    color: #01b551 !important;
    background-color: rgba(30, 25, 26, .5) !important;
}

.v-button {
    background-color: #01b551;
    color: #1e191a;
    margin-top: 40px;
}

.v-primary {
    color: black !important;
}