<!DOCTYPE html>
<html lang="en">
<head >
    <meta charset="UTF-8">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" 
type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}"
type="image/x-icon">


    <title><strong>IERROR</title>
</head>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />

<body style="background-color:grey;">

<style>
  #logo {
    width: 25%;
    height: 25%;
    position: absolute;
    left: 5px;
    top: 5px;
  }
</style>

<h> INVALID PARAMETERS SUPPLIED... please try again </h>

</body>