{% extends 'layout.html' %}
{% block title %}Begin Papertrader{% endblock %}
{% block head %}
{{ super() }}
    <style>
    .title {
        color: #01b551;
    }

    .card {
            padding: 50px;
            background-color: #1e191a;
            text-align: left;
    }
    .input-form{
        background-color: rgba(102, 45, 145, 1)!important;
        border-radius: 20px;
    }
    .input-form p {
        color: #01b551 !important;
    }
    .input-form h3 {
        color: black;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .pt-key{
        font-weight: bold !important;
    }

    .trade-session-btn {
        margin-top: 10px;
    }

    .trade-session {
        margin-bottom: 25px;
    }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-content input-form">
                <h1 class="title">The Vola-Papertrader</h1>
                <div class="columns">
                    <div class="column">
                        <h3 class="is-size-4 v-primary pb-5"> Active Paper Trade Sessions </h3>


                        {% for session in active_sessions %}
                            <div class="trade-session">
                               <p>
                                   <span class="pt-key">Session ID:</span> {{session['session_id']}}<br>
                                   <span class="pt-key">Running location:</span> {{session['running_on']}}<br>
                                   <span class="pt-key">Start Time:</span> {{session['session_start_time']}} <br>
                                   <span class="pt-key">Strategy:</span> {{session['strategy']}}<br>
                                   <span class="pt-key">Pair:</span> {{session['pair']}} <br>
                                   <span class="pt-key">Candle:</span> {{session['candle']}}<br>
                                   <span class="pt-key">Current PnL:</span> {{session['total_pnl']}}%<br>
                                   <span class="pt-key">Principle:</span> ${{session['principle']}}
                               </p>
                               <form method="post" action="/end">
                               <input class="button is-danger trade-session-btn" type="submit" value="TERMINATE" name={{session['session_id']}}>
                               </form>
                            </div>


                        {% endfor %}
                    </div>

                    <div class="column">
                        <h3 class="is-size-4 v-primary mb-2"> Inactive Paper Trade Sessions </h3>
                             {% for session in unactive_sessions %}
                                 <div class="trade-session">
                                       <p>
                                           <span class="pt-key">Session ID</span>: {{session['session_id']}}<br>
                                           <span class="pt-key">Running location</span>: {{session['running_on']}}<br>
                                           <span class="pt-key">Start Time:</span> {{session['session_start_time']}}<br>
                                           <span class="pt-key">Finish Time:</span> {{session['session_end_time']}}<br>
                                           <span class="pt-key">Strategy:</span> {{session['strategy']}}<br>
                                           <span class="pt-key">Pair:</span> {{session['pair']}}<br>
                                           <span class="pt-key">Candle:</span> {{session['candle']}}<br>
                                           <span class="pt-key">Final PnL:</span> %{{session['total_pnl']}}<br>
                                           <span class="pt-key">Total Principle:</span> ${{session['principle']}}
                                       </p>
                                    <form method="post" action="/end">
                                        <input class="button is-danger trade-session-btn" type="submit" value="DELETE" name={{session['session_id']}}>
                                    </form>
                                 </div>
                            {% endfor %}
                    </div>
                </div>
            </div>
            <a href="/papertrade/start"><button type="submit" class="button v-button" style="text-align: center">Create Session</button></a>
        </div>

    </div>

{% endblock %}