{% extends 'layout.html' %}
{% block title %}Strat Params{% endblock %}
{% block head %}
{{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}" />

     <style>
        .card {
            padding: 50px;
            background-color: #1e191a;
            text-align: left;
        }

        .input-form {
            background-color: rgba(102, 45, 145, 1)!important;
            border-radius: 20px;
        }
        .input-form p {
            color: #01b551 !important;
        }
        .input-form label {
            color: #01b551;
            margin-top: 5px;
        }

     .v-button {
            background-color: #01b551;
            color: #1e191a;
            margin-top: 40px;
        }

     </style>
{% endblock %}

{% block content %}

<div class="card">
    <div class="card-content input-form">
        <form id=values action="{{url_for('beginBackTest')}}" method="POST">

            <div class="control">

            {% for indicator in indicators %}
                    {{indicator}}
                   {% for param in indicator.keys()%}
                        {{param}}
                          {% if "user_adjusted" not in indicator.keys()%}
                            <label for="{{indicator[param]}}" class="label"> {{names[indicators.index(indicator)].value}} {{param}} </label>
                            <input class="input"  name={{names[indicators.index(indicator)].value}}{{param}} value={{indicator[param]}}>
                            {% elif param != "period"%}
                             <label for="{{indicator[param]}}" class="label"> {{names[indicators.index(indicator)].value}} {{param}} </label>
                            <input class="input"  name={{names[indicators.index(indicator)].value}}{{param}} value={{indicator[param]}}>
                    {% endif %}
                  {% endfor%}
            {% endfor %}
                <button type="submit" class="button v-button" style="">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
