<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" 
type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}"
    <meta charset="UTF-8">
    <a href="/">Home</a>
    <title><strong>Volatrade - PaperTrader</title>
</head>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />

<body>


<form id=selcted_indicators action="{{url_for('visualizeRoute')}}" method="POST"> 
    <div class="form-group">
      <div>
            <select multiple id="mymultiselect" name="mymultiselect[]">       // addition here
            {% for indicator in indicators%}
            <option> {{indicator}} </option>
            {% endfor %}
        </select>
      </div>
    </div>
      <div class="control">
              <div class="select">
                <select name="pair">
                <option value="{{pairs[0]}}" selected>{{pairs[0]}}</option>
                  {% for pair in pairs[1:] %}
                <option value="{{pair}}">{{pair}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <!-- Candle Dropdown-->
            <div class="control">
              <div class="select">
                <select name="candle">
                  <option value="{{candles[0]}}" selected>{{candles[0]}}</option>
                    {% for candle in candles[1:] %}
                      <option value="{{candle}}">{{candle}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <!--Time Start Dropdown-->
            <div class="control">
              <div class="select">
                <select name="timeStart">
                  <option value="{{times[0]}}" selected>{{times[0]}}</option>
                  {% for time in times[1:] %}
                    <option value="{{time}}">{{time}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            
      <div class="control">
              <button type="submit" class="button is-primary">Submit</button>
        </div>
</form> 

</body>